p{
    /* we can use only one style and use more than one  */

    border-style: solid dotted dashed groove;
    border-width: 5px;
    border-color: blue;
    /* border radius will make youur border little bit in circle */
    border-radius: 10px;
    border-bottom-right-radius: 40px;

}


/* now we will use margin and padding */

div#mr{
    border-style: solid;
    /* now to give space between those divs we use margin */
    margin-bottom: 20px;
    margin-left: 20px;

}

div#rm{
    border-style: solid;
    
    
}

h3#rr{
    /* now using padiing for creating space in dive 
    to away h3 from boder of div or toward border of dv */

    padding: 30px;
    padding-left: 300px;
    padding-top: 150px;
}